@font-face {
  font-family: arialBlack;
  src: url(../arialBlack.ttf);
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ED8CED;
  color: #FFF;
  border: none;
  border-radius: 10px;
  padding: 0.43rem 0;
}

.h2 {
  font-family: arialBlack;
  font-size: 9.3vw;
}

.h2_color_brown {
  color: #F0C0A8;
}

.h2_color_yellow {
  color: #FFFFA6;
}

.h2_color_cyan {
  color: #8BFCFC;
}

.h2_color_magenta {
  color: #ED8CED;
}

.h3 {
  font-family: arialBlack;
  font-size: 8vw;
  line-height: 2.2rem;
  padding: 3.5rem 0;
}

.h3_color_brown {
  color: #F0C0A8;
}

.p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6.6vw;
  line-height: 1.8rem;
}

.p_color_white {
  color: #FFF;
}

.p_color_black {
  color: #353839;
}

.header {
  display: block;
  text-align: center;
}

.header-btn {
  margin: 0 auto;
  margin-top: 2.3rem;
  width: 7.3rem;
  font-size: 1.15rem;
  font-weight: 600;
}

.headerArticle-hamburgerImg {
  width: 1.5rem;
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}

.headerArticle-logoImg {
  width: 7.5rem;
  display: block;
  margin: 0 auto;
  margin-top: 1.9rem;
}

.headerArticle-h1 {
  font-family: arialBlack;
  font-size: 2.2rem;
  line-height: 3.3rem;
  background: -webkit-linear-gradient(#FFFFA6 30%, #8BFCFC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px #00000000;
  -webkit-text-stroke: 0.1px rgba(53, 56, 57, 0.4);
  margin-top: 1rem;
}

.headerArticle-h1Span {
  display: block;
}

.headerArticle-img {
  width: 12.5rem;
  display: block;
  margin: 0 auto;
  margin-top: 2.3rem;
}

.sectionMainLang {
  position: relative;
  background-color: #000;
}

.sectionMainLang-Img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.sectionMainLang-h2 {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.sectionMainLang-p {
  position: absolute;
  top: 38%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 80vw;
  text-align: center;
}

.articleMainCorp-h3 {
  text-align: center;
}

.articleMainCorp-p {
  margin: 0 auto;
  width: 74vw;
  text-align: center;
}

.circle {
  position: relative;
  height: 13rem;
  width: 13rem;
  background-color: #8BFCFC;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 3.5rem;
}

.articleMainCorp-img {
  position: absolute;
  top: 6%;
  left: 10%;
  width: 10rem;
}

.main-btn {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 7.3rem;
  font-size: 1.15rem;
  font-weight: 600;
}

.articleMainMethod {
  width: 100vw;
  height: 30rem;
}

.articleMainMethod_color_brown {
  background-color: #F0C0A8;
}

.articleMainMethod_color_yellow {
  background-color: #FFFFA6;
}

.articleMainMethod_color_cyan {
  background-color: #8BFCFC;
}

.sectionMainMethod-h3 {
  text-align: center;
}

.sectionMainMethod-h3Span {
  display: block;
}

.sectionMainMethod-p {
  text-align: center;
  margin: 0 auto;
  width: 74vw;
  padding-bottom: 3.5rem;
}

.sectionMainNative-h3 {
  text-align: center;
}

.sectionMainNative-p {
  text-align: center;
  margin: 0 auto;
  width: 74vw;
  padding-bottom: 3.5rem;
}

.sectionMainNative-img {
  display: block;
  margin: 0 auto;
  width: 10rem;
  padding-bottom: 3.5rem;
}
/*# sourceMappingURL=style.css.map */