



// variables
$arial: Arial, Helvetica, sans-serif;
$arialBlack: arialBlack;
$blackText: #353839;
$pText: 6.6vw;
$h2Text: 9.3vw;
$h3Text: 8vw;
$primaryColor: #FFFFA6;
$secondaryColor: #8BFCFC;
$accentColor: #ED8CED;
$additionalColor: #F0C0A8;




// define a font file
@font-face {
    font-family: arialBlack;
    src: url(../arialBlack.ttf)
  }
  




// Blocks (only the ones used throughout the page)
.btn {
    font-family: $arial;
    background-color: $accentColor;
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 0.43rem 0;
}

.h2 {
    font-family: $arialBlack;
    font-size: $h2Text;
    &_color_brown {
        color: $additionalColor;
    }
    &_color_yellow {
        color:$primaryColor;
    }
    &_color_cyan {
        color: $secondaryColor;
    }
    &_color_magenta {
        color: $accentColor;
    }
}

.h3 {
    font-family: $arialBlack;
    font-size: $h3Text;
    line-height: 2.2rem;
    padding: 3.5rem 0;
    &_color_brown {
        color: $additionalColor;
    }
}

.p {
    font-family: $arial;
    font-size: $pText;
    line-height: 1.8rem;

    &_color_white {
        color: #FFF;
    }   // modifier of key-value pair
    &_color_black {
        color: $blackText;
    }
}




// Header
.header {
    display: block;
    text-align: center;

    &-btn {
        margin: 0 auto;
        margin-top: 2.3rem;
        width: 7.3rem;
        font-size: 1.15rem;
        font-weight: 600;
    }    // BEM mix
}

.headerArticle {
    &-hamburgerImg {
        width: 1.5rem;
        position: absolute;
        top: 0.7rem;
        right: 0.7rem;
    }
    &-logoImg {
        width: 7.5rem;
        display: block;
        margin: 0 auto;
        margin-top: 1.9rem;
    }
    &-h1 {
        font-family: $arialBlack;
        font-size: 2.2rem;
        line-height: 3.3rem;
        background: -webkit-linear-gradient($primaryColor 30%, $secondaryColor);   // gradient text
        background-clip: text;   //  standard style rule on background-clip
        -webkit-background-clip: text;   // gradient text
        -webkit-text-fill-color: transparent;   // gradient text
        text-shadow: 0px 0px #00000000;   // gradient text
        -webkit-text-stroke: 0.1px rgba($color: #353839, $alpha: 0.4);    // border on gradient text
        margin-top: 1rem;
    }
    &-h1Span{
        display: block;
    }
    
    &-img {
        width: 12.5rem;
        display: block;
        margin: 0 auto;
        margin-top: 2.3rem;
    }
}




// Main
// langs
.sectionMainLang{
    position: relative;
    background-color: #000;

    &-Img {
        width: 100%;
        height: auto;
        opacity: 0.5;
    }
    &-h2 {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%);
    }
    &-p {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%);
        width: 80vw;
        text-align: center;
    }
}




// corp
.articleMainCorp-h3 {
    text-align: center;
}

.articleMainCorp-p {
    margin: 0 auto;
    width: 74vw;
    text-align: center;
}

.circle {
    position: relative;
    height: 13rem;
    width: 13rem;
    background-color: $secondaryColor;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 3.5rem;
}

.articleMainCorp-img {
    position: absolute;
    top: 6%;
    left: 10%;
    width: 10rem;
}

.main-btn {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 7.3rem;
    font-size: 1.15rem;
    font-weight: 600;
}    // BEM mix




// Method
.articleMainMethod {
    width: 100vw;
    height: 30rem;
    &_color_brown {
        background-color: $additionalColor;
    }
    &_color_yellow {
        background-color: $primaryColor;
    }
    &_color_cyan {
        background-color: $secondaryColor;
    }
}

.sectionMainMethod-h3 {
    text-align: center;
}

.sectionMainMethod-h3Span {
    display: block;
}

.sectionMainMethod-p {
    text-align: center;
    margin: 0 auto;
    width: 74vw;
    padding-bottom: 3.5rem;
}



// Native
.sectionMainNative-h3 {
    text-align: center;
}

.sectionMainNative-p {
    text-align: center;
    margin: 0 auto;
    width: 74vw;
    padding-bottom: 3.5rem;
}

.sectionMainNative-img {
    display: block;
    margin: 0 auto;
    width: 10rem;
    padding-bottom: 3.5rem;
}